@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(71, 209, 202);
}

nav{
    height: 70px;
    width: 100%;
    background-color: rgb(20, 109, 105);
    box-shadow: 0 3px 4px 0 rgba(36, 36, 36, 0.493);
}
nav li{
    color: white;
    list-style: none;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    float: right;
    margin: 25px 30px;
    cursor: pointer;
    transition: .6s all;
}
nav li:hover{
    color: rgb(122, 218, 192);
    transition: .6s all;
}

div{
    height: auto;
    width: 600px;
    background-color: rgba(255, 0, 0, 0);
    margin: 100px 350px;
}

div h1{
    color: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: 49px;
    margin: 30px 30px;
    transition: all 1s;
}
div h3{
    color: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin: 0px 130px;
}
div p{
    color: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0px 10px;
}
div button{
    height: 40px;
    width: 200px;
    background-color: transparent;
    border: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    border-radius: 4px;
    color: white;
    margin: 20px 160px;
    box-shadow: 0 6px 14px 0 lightseagreen;
    cursor: pointer;
    transition: all .6s;
}
div button:hover{
    background-color: rgb(69, 158, 154);
    margin: 45px 160px;
}
